.navbar {
  margin: 0;
  display: flex;
}

.navbar span {
  width: 25%;
  padding: 2rem 0rem;
  z-index: 99999;
}

.navbar span a:hover {
  background-color: #FFFFFF;
}

.navbar p {
  margin: 0;
  display: inline;
  padding: 2rem
}

.navbar ul {
  margin: 0;
  padding: 2rem 0rem;
  width: 100%;
  position: relative;
  text-align: center;
  left: -10vw;
}

.navbar li {
  list-style: none;
  display: inline;
}

.navbar a:hover {
  background-color: #FCBA03;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  padding: 2rem;
  color: black;
}

.navbar a:visited {
  color: black;
}

.navbar a {
  text-decoration: none;
}

.banner {
  display: flex;
  padding: 8rem 0rem;
}

.bannerLeft {
  width: 50%;
  display: flex;
  align-items: center;
}

.bannerLeft h3{
  font-weight: 400;
}

.bannerRight {
  width: 50%;
  text-align: center;
}

.leftCTA {
  padding: 0rem 15rem;
}

.leftCTA button {
  margin-top: 1em;
}

.App {
  height: 100vh;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homeWrapper {
  flex-grow: 1;
}

.primaryButton {
  background-color: #FCBA03;
  min-width: 150px;
  height: 44px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 0.67em 0;
}

.primaryButton:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.primaryButton:focus {
  outline: none;
}

/*.contentWrapper {
  background-color: #FFFFEB;
}*/

.jumbotron {
  text-align: center;
  background-color: #FFFFFF;
  padding: 5rem;
}

.jumbotron h3 {
  font-weight: 400;
}

.jumbotron h1 {
  margin: 0 0 3rem 0;
}

.search {
  height: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid black;
  padding-left: 1rem;
  width: 40%;
  margin: 0.67em 0;
}

.searchButton {
  background-color: #FCBA03;
  min-width: 150px;
  height: 44px;
  border: 0;
  cursor: pointer;
  margin: 0.67em 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search:focus {
  outline: none;
  border: 1px solid #FCBA03;
}

.searchButton:focus {
  outline: none;
}

.noResults {
  text-align: center;
}

.alert {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #2E3B46;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  margin: 1rem 0rem;
  max-width: 40%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 10rem;
  flex-direction: row;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 4px;
  padding: 0rem 0rem 2rem 0rem;
  margin-bottom: 1rem!important;
  max-width: 45%;
  width: 45%;
  margin: auto;
}

.card h4 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: #f4f4f4;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (max-width: 1700px) {
  .leftCTA {
    padding: 0rem 10rem;
  }
}

@media only screen and (max-width: 1600px) {
  .cardWrapper {
    padding: 0rem 1rem;
  }
  .card {
    width: 40%;
  }
}

@media only screen and (max-width: 1400px) {
  .leftCTA {
    padding: 0rem 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .alert {
    max-width: 70%;
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .bannerRight {
    display: none;
  }
  .bannerLeft {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .bannerLeft {
    width: 90%;
  }
  .navbar ul {
    text-align: right;
    left: 0;
  }
  .navbar p {
    padding: 0;
  }
  .navbar a {
    padding: 1rem;
  }
  .navbar ul {
    padding: 1rem 0rem;
  }
  .navbar span {
    padding: 1rem 0rem;
  }
  .alert {
    max-width: 90%;
    width: 90%;
  }
  .jumbotron {
    padding: 5rem 2rem;
  }
  .card {
    width: 80%;
    max-width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .bannerLeft {
    width: 100%;
  }
  .leftCTA {
    padding: 0rem 2rem;
  }
  .jumbotron input {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .jumbotron .searchButton {
    min-width: 100px;
  }
  .jumbotron {
    padding: 3rem 1rem;
  }
}